@import 'mixins';
.Section5 {
  background-image: var(--bg-shum);
  .HeightElement {
    height: 8vw;
    @media (max-width: 640px) {
      height: 20vw;
    }
  }
  .Title {
    @include text-gradient;
    font-family: benzin-bold;
    line-height: 8vw;
    font-size: 8vw;
    padding: 2vw 0 2vw 4vw;
  }
  .WrapSwiper {
    display: flex;
    @media (max-width: 640px) {
      display: block;
    }
  }
  .Titles {
    display: flex;
    flex-direction: column;
    padding-left: 4vw;
    width: 70%;
    margin-right: 2vw;
    @media (max-width: 640px) {
      display: none;
    }
  }
  .swiper-pagination-bullet {
    font-family: benzin-bold;
    font-size: 3vw;
    background: none;
    width: max-content;
    height: 8vw;
    opacity: 1;
    &-active {
      background-color: none;
      color: var(--color-purple);
    }
  }
  .Slide {
    background-color: var(--color-gray-dark);
    border: var(--border-gray);
    padding: 3vw;
    height: min-content;
    @media (max-width: 640px) {
      margin: 0 0 1vw 4vw;
    }
    &-Title {
      display: none;
      @media (max-width: 640px) {
        display: block;
        color: var(--color-purple);
        font-family: benzin-bold;
        font-size: 6vw;
      }
    }
    &-Text {
      font-family: montserrat;
      font-size: 1.5vw;
      @media (max-width: 640px) {
        font-size: 3vw;
      }
    }
    &-SubTitle {
      font-family: benzin-bold;
      font-size: 2.5vw;
      margin-top: 2vw;
      @media (max-width: 640px) {
        font-size: 4vw;
      }
    }
    &-Point {
      display: flex;
      &-Square {
        box-sizing: border-box;
        position: relative;
        width: 1vw;
        height: 1vw;
        top: 0.5vw;
        background-color: var(--color-purple);
        @media (max-width: 640px) {
          top: 1vw;
          width: 2vw;
          height: 2vw;
        }
      }
      &-Text {
        font-family: montserrat;
        padding-left: 2vw;
        width: 100%;
        font-size: 1.5vw;
        margin-bottom: 1vw;
        @media (max-width: 640px) {
          font-size: 3vw;
        }
      }
    }
  }
}
