@import 'mixins';

.Section1 {
  @include bg-logo();
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 1.5vw;
  overflow: hidden;

  @media (max-width: 640px) {
    font-size: 2.5vw;
    height: 100vh;
    // height: 93vh;
  }

  .Line {
    display: flex;
    align-items: center;
    font-family: benzin-bold;
    border-bottom: 0.1vw solid var(--color-gray);
    height: 4vw;
    gap: 4vw;
    padding: 1vw 3vw 0.4vw 3vw;

    @media (max-width: 640px) {
      height: 12vw;
    }
    &First {
      @media (max-width: 640px) {
        justify-content: space-between;
      }

      &_Link {
        &__last {
          margin-bottom: 0.5vw;
          border: var(--border-purple);
          margin-left: auto;
          padding: 0.5vw 2vw 0 2vw;

          @media (max-width: 640px) {
            display: none;
          }
        }
        @media (max-width: 640px) {
          &__fontSize {
            &__ru {
              font-size: 2.3vw;
            }
          }
        }
      }
    }

    &_Link {
      cursor: pointer;

      &__purple {
        color: var(--color-purple);
      }
    }

    &Second {
      border-top: 0.1vw solid var(--color-gray);
      justify-content: end;
    }
  }

  .Logo {
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;

    @media (max-width: 640px) {
      transform: scale(1.14);
    }
  }

  .Contact {
    display: none;
    @media (max-width: 640px) {
      display: block;
      font-family: benzin-bold;
      border: var(--border-purple);
      position: relative;
      top: -20vw;
      margin: 5vw;
      text-align: center;
      padding: 2.5vw 0 1vw 0;
    }
  }
}
